#top-bar {
    height: calc((100vh - 8px) / 11);
    width: 100%;
    background-color: var(--background);
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-container {
    margin: 0 12px;
    padding: 4px 16px;
    color: #c3c3c3;
    border-radius: 20px;
    border: 2px solid var(--border);
    background-color: #2e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container i {
    width: 30px;
    text-align: center;
}

.info-container .fa-heart {
    color: #dd0808
}

.info-container .fa-heart-crack {
    color: #5c5c5c;
}

.info-container span {
    margin-left: 4px;
    min-width: 60px;
    font-weight: bold;
    text-align: right;
    color: #ebebeb;
}

.info-image {
    width: 30px;
    height: 15px;
}

#options-buttons {
    min-width: 150px;
    text-align: left;
}

.top-bar-icon-btn {
    background: #2e1e1e;
    ;
    color: #ebebeb;
    ;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 8px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--border);
    transition: color 0.3s ease, background 0.3s ease;
}

.top-bar-icon-btn:hover {
    background-color: var(--buttons-on-hover-background);
    color: var(--buttons-on-hover-color);
}

.fa-stack {
    left: -4px;
}

.fa-ban {
    color: #9b2c2c
}